.activeLabel {
	color: #fa6100;
}

.orangeSwitch,
.orangeSwitch:checked {
	background-color: #fa6100;
	border-color: #fa6100;
	border: none;
}

.orangeSwitch:focus {
	box-shadow: none;
}

/* .form-switch .form-check-input:focus {
	--bs-form-switch-bg: url(
		data:image/svg + xml,
		%3csvgxmlns="http://www.w3.org/2000/svg"viewBox="-4 -4 8 8"%3e%3ccircler="3"fill="%23fff"/%3e%3c/svg%3e
	);
} */
