.serviceName {
	font-size: 12px;
	font-weight: 600;
}

.scrollContainer {
	overflow-x: scroll;
	white-space: nowrap;
	scrollbar-width: none;
}

.scrollItem {
	display: inline-block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}

.indicator {
	background-color: #939393;
	border: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	transition: all 0.3s ease;
}

.activeIndicator {
	background-color: #fa6100;
	border: none;
	width: 21px;
	height: 10px;
	border-radius: 5px;
	transition: all 0.3s ease;
}
