.textareaWrapper {
	position: relative;
	width: 100%;
}

.textareaField {
	width: 100%;
	padding: 15px 45px;
	resize: none;
}

.icon {
	position: absolute;
	left: 25px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	color: #1461f0;
}

.sendIcon {
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	cursor: pointer;
	color: #1461f0;
}
