.inputField {
	padding: 15px 10px;
	background-color: transparent;
	border-radius: 15px !important;
}

.inputField::placeholder {
	color: #939393;
}

.form-control {
	border-radius: 15px;
}

.checkboxInput {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 16px;
	height: 16px;
	border: 1px solid #fb8133;
	border-radius: 5px;
	background-color: #f0f0f0;
	cursor: pointer;
}

.checkboxInput:checked {
	background-color: #fb8133;
}
